body {
  background-color: #e7ebf0;
}
.number_head_bg {
    background: #464496;
    height: 226px;
}
.number_page {
    margin: -131px auto 90px;
    max-width: 404px;
}
.number_head_wrap {
    height: 75px;
}
.number_form_wrap {
    background: #fff;
    padding: 44px 65px;
    -webkit-box-shadow: 0 1px 1px rgba(97,127,152,.2), 1px 0 0 rgba(97,127,152,.1), -1px 0 0 rgba(97,127,152,.1);
    -moz-box-shadow: 0 1px 1px rgba(97,127,152,.2),1px 0 0 rgba(97,127,152,.1),-1px 0 0 rgba(97,127,152,.1);
    box-shadow: 0 1px 1px rgba(97,127,152,.2), 1px 0 0 rgba(97,127,152,.1), -1px 0 0 rgba(97,127,152,.1);
    border-radius: 2px;
    border: 0;
    margin: 0;
    max-width: none;
}
form {
    display: block;
    margin-top: 0em;
}
.number_form_head {
    color: #222;
    margin: 0 0 20px;
    font-size: 35px;
    font-weight: 700;
}
h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.number_form_lead {
    color: #999;
    margin: 15px 0 30px;
    font-size: 13px;
    line-height: 160%;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=number]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #464496;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=number]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #464496;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.finish_head_bg {
    background: #464496;
    height: 226px;
}
.finish_page {
    margin: -131px auto 70px;
    max-width: 1200px;
}
.finish_head_wrap {
    height: 75px;
}
.finish_form_wrap {
    background: #fff;
    padding: 44px 65px;
    -webkit-box-shadow: 0 1px 1px rgba(97,127,152,.2), 1px 0 0 rgba(97,127,152,.1), -1px 0 0 rgba(97,127,152,.1);
    -moz-box-shadow: 0 1px 1px rgba(97,127,152,.2),1px 0 0 rgba(97,127,152,.1),-1px 0 0 rgba(97,127,152,.1);
    box-shadow: 0 1px 1px rgba(97,127,152,.2), 1px 0 0 rgba(97,127,152,.1), -1px 0 0 rgba(97,127,152,.1);
    border-radius: 2px;
    border: 0;
    margin: 0;
    max-width: none;
    max-height: 700px;
    overflow: auto;
}
.finish_form_head {
    color: #FFFFFF;
    margin: 0 0 20px;
    font-size: 25px;
    font-weight: 700;
}

.finish_form_headsm {
    color: #222;
    margin: 0 0 20px;
    font-size: 25px;
    font-weight: 700;
}

.finish_form_lead {
    color: #999;
    margin: 15px 0 30px;
    font-size: 13px;
    line-height: 160%;
}
.finish_form_info {
    padding: 22px 22px !important;
}
.finish_form_list {
    padding: 22px 0px !important;
}

::-webkit-scrollbar-track {
	background-color: #ffffff;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	background-color: #d2d2d2;
}

.plane_head_bg {
    background: #464496;
    height: 226px;
}
.plane_page {
    margin: -131px auto 70px;
    max-width: 1200px;
}
.plane_head_wrap {
    height: 75px;
}
.plane_form_wrap {
    background: #fff;
    padding: 44px 65px;
    -webkit-box-shadow: 0 1px 1px rgba(97,127,152,.2), 1px 0 0 rgba(97,127,152,.1), -1px 0 0 rgba(97,127,152,.1);
    -moz-box-shadow: 0 1px 1px rgba(97,127,152,.2),1px 0 0 rgba(97,127,152,.1),-1px 0 0 rgba(97,127,152,.1);
    box-shadow: 0 1px 1px rgba(97,127,152,.2), 1px 0 0 rgba(97,127,152,.1), -1px 0 0 rgba(97,127,152,.1);
    border-radius: 2px;
    border: 0;
    margin: 0;
    max-width: none;
    max-height: 700px;
    overflow: auto;
}
.plane_form_head {
    color: #FFFFFF;
    margin: 0 0 20px;
    font-size: 25px;
    font-weight: 700;
}

.plane_form_headsm {
    color: #222;
    margin: 0 0 20px;
    font-size: 25px;
    font-weight: 700;
}

.plane_form_lead {
    color: #999;
    margin: 15px 0 30px;
    font-size: 13px;
    line-height: 160%;
}
.plane_form_info {
    padding: 22px 22px !important;
}
.plane_form_list {
    padding: 22px 0px !important;
}
.book_head_bg {
    background: #464496;
    height: 226px;
}
.book_page {
    margin: -131px auto 90px;
    max-width: 404px;
}
.book_head_wrap {
    height: 75px;
}
.book_form_wrap {
    background: #fff;
    padding: 44px 65px;
    -webkit-box-shadow: 0 1px 1px rgba(97,127,152,.2), 1px 0 0 rgba(97,127,152,.1), -1px 0 0 rgba(97,127,152,.1);
    -moz-box-shadow: 0 1px 1px rgba(97,127,152,.2),1px 0 0 rgba(97,127,152,.1),-1px 0 0 rgba(97,127,152,.1);
    box-shadow: 0 1px 1px rgba(97,127,152,.2), 1px 0 0 rgba(97,127,152,.1), -1px 0 0 rgba(97,127,152,.1);
    border-radius: 2px;
    border: 0;
    margin: 0;
    max-width: none;
}
.book_form_head {
    color: #222;
    margin: 0 0 20px;
    font-size: 35px;
    font-weight: 700;
}
.book_form_lead {
    color: #999;
    margin: 15px 0 30px;
    font-size: 13px;
    line-height: 160%;
}
